.search-results {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  width: 38rem;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.sort,
#sort {
  padding: 5px;
  font-size: 15px;

  width: fit-content;
  margin: 0 auto;
}

#sort {
  border: 2px solid #f38e82;
  border-radius: 25px;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.2rem;
  padding: 0 3.5rem;
  margin-top: 4rem;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
  }
}
